.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.chart-container {
  height: 80vh;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.time {
  font-size: 3rem;
  padding: 2rem;
}

.row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
}
.col-1 {
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%; */
  flex: 1;
  align-self: flex-start;
  margin: auto;
}
.col-3 {
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%; */
  flex: 2;
  align-self: flex-start;
}

.container {
  width: 90%;
  margin: auto;
}

@media (max-width: 600px) {
  .row{
      flex-direction: column;
  }
}